.reveal section img { background:none; border:none; box-shadow:none; }

/*********************************************
 * PROGRESS BAR
 *********************************************/

.reveal .progress {
  position: fixed;
  display: none;
  height: 3px; 
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 10;

  background-color: rgba( 0, 0, 0, 0.2 );
}
  .reveal .progress:after {
    content: '';
    display: block;
    position: absolute;
    height: 20px;
    width: 100%;
    top: -20px;
  }
  .reveal .progress span {
    display: block;
    height: 100%;
    width: 0px; 

    background-color: #ec6962;
    transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  }

